/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* ~~~~~~~~~~~~~~ Base ~~~~~~~~~~~~~ */
* { display: block; }

html {
  height: 100%;
  font-size: 100%; }
body {
  height: 100%;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Press Start 2P", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(252,255,86);
  color: #222; }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
title { display: none !important; }
style { display: none !important; }
script { display: none !important; }
.container {
  background-color: none;
  height: 100vh;
  width: 100%;
  max-width: 375px;
  padding: 0 2rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto; }

.mobile-view {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  width:100%;
  overflow: hidden; }


header {
  background-color: none;
  text-align: center;
  position: relative;
  padding: 1.5rem 0; }

main {
  background-color: none;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; }

footer {
  height: 2rem;
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: 0; }

ul { padding: 0;}
ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative; }

ul li a { margin-left: 1.5rem; }

ul li span { margin-left: auto; }
a { text-decoration: none;}
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
/* ~~~~~~~~~~~~~~~~~Buttons~~~~~~~~~~~~~~~~~~ */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~ */
button {
  height: 100%;
  border-radius: 0;
  border: 0;
  color: white;
}
button.toggle {
  height: 68px;
  width: 100%;
}
button.toggle.selected {
  box-shadow: inset 2px 2px 0px 1px #27496d,inset 0 1px 16px #193047;
}
a.navigation-button {
  position: absolute;
  height: 40px;
  padding: 0;
  top: 1rem;
  left: 0rem;
}
button.navigation {
  position: absolute;
  color: black;
  height:100%;
  padding: 0;
}
a.button.primary {
  height: 68px;
  border-left: 2px solid rgba(240,255,255,0.5);
  border-top: 2px solid rgba(240,255,255,0.5);
  border-bottom: 2px solid rgba(100,100,100,0.5);
  border-right: 2px solid rgba(100,100,100,0.5);
  box-shadow: 2px 3px 6px rgba(100,100,100,0.8);
  width: 90%;
}
a.button.primary button {
  width: 100%;
}
a.secondary.button button {
  color: black; }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~ Spacing ~~~~~~~~~~~~ */
.mb-0 { margin-bottom: 6.0rem }
.mb-1 { margin-bottom: 3.0rem; }
.mb-2 { margin-bottom: 2.75rem; }
.mb-3 { margin-bottom: 2.0rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 1.25rem; }
.mb-6 { margin-bottom: 1.0rem; }
.mb-7 { margin-bottom: 0.875rem; }
.mb-8 { margin-bottom: 0.75rem; }
.mb-9 { margin-bottom: 0.5rem; }

.w-100 { width: 100%;}
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~ Typography ~~~~~~~~~~~ */
.fs-1 { font-size: 3.0rem; }
.fs-2 { font-size: 2.75rem; }
.fs-3 { font-size: 2.0rem; }
.fs-4 { font-size: 1.5rem; }
.fs-5 { font-size: 1.25rem; }
.fs-6 { font-size: 1.0rem; }
.fs-7 { font-size: 0.875rem; }
.fs-8 { font-size: 0.75rem; }
.fs-9 { font-size: 0.5rem; }

p { margin: 0;}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.0rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 0.875rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~ Colors ~~~~~~~~~~~~~ */
.salmon-pink { background-color: rgba(251,106,143,1);}
.periwinkle-purple { background-color: rgba(106,119,249,1);}
.clementine-orange { background-color: rgba(255,152,45,1);}
.text { background-color: none;}
.text.steel-grey { color: grey; }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~ States ~~~~~~~~~~~~~ */
.hide { display: none;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~ Components ~~~~~~~~~~~ */
#avatars li {
  width: calc(100% / 4);
  background-color: pink;
  border: 2px solid yellow;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom:2px;
}
#avatars li.active { border:2px solid green;}
#songs li:before,
#playlist li:before {
  content: '\a0';
  /* display: flex; */
  /* padding: 2px 0; */
  /* line-height: 1px; */
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 76px;
  z-index: 999;
  height: 0;
  width: 100%;
}
.avatar-wrapper {
  width: 64px;
  height: 64px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: pink;
  position: relative;
}
.avatar-wrapper img {
  width: 40px;
  height: 40px;
}

#songs .avatar-wrapper img {
  height: 100%;
  width: auto
}
.content-wrapper {
  height: 64px;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.content-wrapper a {
  text-overflow: ellipsis;
  overflow: hidden;
}
.content-wrapper p {
  margin-left: 1.5rem;
}
#profile .avatar-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: pink;
  position: relative;
}
#profile .avatar-wrapper img {
  width: 140px;
  height: 140px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.image-container img {
  margin: 3% 6%;
}
.image-container .flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

input[type="text"] {
  border: 2px solid black;
  border-radius: 0;
  height: 60px;
  font-size: 1.5rem;
  box-shadow: 4px 3px 8px rgba(100,100,100,0.8);
  text-align: center; }
