
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="mobile row h-100-vp">
      <div class="twelve columns display-start h-100-vp">
        <header class="header w-100 display-center">
          <h2 class="page-header">TuneSmash</h2>
        </header>
        <main class="m-t-auto">
          <button>Begin</button>
        </main>
        <footer class="h-0"></footer>
      </div>
    </div>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mini.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
  <script>
  $(document).ready(function(){
    var status = "{{status}}";
    var postData = {
      'location':'South of France',
      'uone': {
        'id':1,
        'email':'dlamnguyen@gmail.com',
        'name': 'Caite'
      },
      'utwo': {
        'id':2,
        'email':'dlamnguyen@gmail.com',
        'name': 'Duylam'
      }
    }
    $('button').on('click',function(){
      alert('Victory is yours');
      $.ajax({
        async: true,
        contentType:"application/json",
        url: '/ts/api/generate/recommendation',
        dataType: 'json',
        data: JSON.stringify(postData),
        error: function(){
          alert("Recommendation: Something went wrong. Please close the app and restart.");
        },
        method: 'POST',
        success: function(response){
          alert('Ready to Listen?');
          console.log(response);
          // window.open('https://www.youtube.com/playlist?list=' + response['data']['playlist'].toString());
        }
      });
    });
  });
  </script>
</body>
</html>
