<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TuneSmash</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
  <div class="container">
    <div class="mobile row h-100-vp">
      <div class="twelve columns display-center h-100-vp">
        <h4>matching</h4>
        <h6></h6>
      </div>
    </div>
  </div>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script>
var config = {
  apiKey: "AIzaSyBKX1xmfY8JuhIbgOxhO2APg6f4VcCZWXI",
  authDomain: "luminous-inferno-9831.firebaseapp.com",
  databaseURL: "https://luminous-inferno-9831.firebaseio.com",
  storageBucket: "luminous-inferno-9831.appspot.com",
};
firebase.initializeApp(config);
var d = new Date();
d = d.getTime();
var startTime = d-300000;
var bumps = firebase.database().ref('bumps/');
var matches = firebase.database().ref('matches/');
var notification = firebase.database().ref('notification');
var from = 0;
var to = 0;
if ({{user_id}} > {{to_id}}) {
  from = {{user_id}};
  ef = "{{user_email}}";
  to = {{to_id}};
  et = "{{to_email}}";
} else {
  to = {{user_id}};
  et = "{{user_email}}";
  from = {{to_id}};
  ef = "{{to_email}}";
}
bumps.orderByChild("time").startAt(startTime).on('child_added', function(snapshot) {
  data = snapshot.val();
  console.log(data);
  if (data['to']['id'] == parseInt({{user_id}})) {
    var postData = {
      'from': from,
      'to': to,
      'uone':{'id':from,'email':ef},
      'utwo':{'id':to,'email':et},
      'time': d,
      'location': 'yup'
    }
    if (from == {{user_id}}){
      alert('hello this belongs to ' + from);
      matchPost = newMatch(postData).then(function(){
        $.ajax({
          url: '/generate/three',
          data: JSON.stringify(postData),
          contentType:"application/json",
          type: 'POST',
          success: function(response) {
            alert('Ready to Listen?');
            console.log(response);
            location.href = '/playlist/' + response.payload.toString();
          },
          error: function(error) {
            alert('Close the app and restart');
            console.log(error);
          }
        });
      });
    } else {
      notification.orderByChild("from").equalTo(from).on('child_added',function(snapshot){
        var d = snapshot.val();
        if (d['to'] == to) {
          alert('Ready to Listen?');
          console.log(snapshot.key);
          notification.child(snapshot.key).remove();
          location.href = '/playlist/' + d['plid'].toString();
        }
      });
    }
  }
});

function newMatch(data) {
  var updates = {};
  var matchPostKey = firebase.database().ref().child('matches').push().key;
  updates['/matches/' + matchPostKey] = data;
  return firebase.database().ref().update(updates);
}

</script>
</body>
</html>
