  <div class="container">
    <div class="mobile row h-100-vp" style="height:100%;">
      <div class="super-special twelve columns display-center h-100-vp" style="height:100%;" data-step="1" id='message'>
        <h4 style=''>Making a playlist with {{name}}</h4>
      </div>
    </div>
  </div>
  <style>
    style { display:none;}
    script { display:none;}
    title {display:none;}
    .super-special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
  </style>
  <link href='https://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
  <script>
  $(document).ready(function(){
    var postData = {
      'fr': {{user['bump']['fr']}},
      'to': {{user['bump']['to']}},
      'songs': ["{{user['bump']['songs'][0]}}","{{user['bump']['songs'][1]}}"]
    };
    console.log(postData);
    var config = {
      apiKey: "AIzaSyBKX1xmfY8JuhIbgOxhO2APg6f4VcCZWXI",
      authDomain: "luminous-inferno-9831.firebaseapp.com",
      databaseURL: "https://luminous-inferno-9831.firebaseio.com",
      storageBucket: "luminous-inferno-9831.appspot.com",
    };
    firebase.initializeApp(config);
    var d = new Date();
    d = d.getTime();
    var startTime = d-300000;
    var notification = firebase.database().ref('notification');
    count = 0
    notification.orderByChild("recipient").equalTo("{{user['bump']['fr']}}").on('child_added',function(snapshot){
      count = count + 1;

      var data = snapshot.val();
      console.log(count);
      console.log(data);
      console.log('***');
      $('#message').children().remove();
      $('#message').append('<h4>'+data['message']+'</h4>');
      if (data['custom']['playlist_url']){
        $('#message').append('<a id="playlist-button" target="_blank" class="primary button pink-light mb-6" href="'+data['custom']['playlist_url']+'"><button>Listen Now</button></a>');
        $('#playlist-button').on('click',function(event){
          $('#message').append('<a href="/" class="primary button blue-medium"><button>Home</button></a>')
          $('#playlist-button').remove();

        });
      }
      notification.child(snapshot.key).remove();
    });

    // POST TO BUMP ENDPOINT
    $.ajax({
      async: true,
      contentType:"application/json",
      url: '/ts/api/user/bump',
      dataType: 'json',
      data: JSON.stringify(postData),
      error: function(error){
        console.log(error);
      },
      method: 'POST',
      success: function(response){
        console.log("succes");
      }
    }).done(function(response){
      var status = response['data']['winner']
      // LISTEN FOR NOTIFICATIONS
      if (status == true){
        $.ajax({
          async: true,
          contentType:"application/json",
          url: '/ts/api/user/recommendation',
          dataType: 'json',
          data: JSON.stringify(postData),
          error: function(error){
            alert("Dang. Something went wrong.");
            console.log(error);
          },
          method: 'POST',
          success: function(response){
            console.log(response);
          }
        });
      }
    });
    });
  </script>
