<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="TuneSmash">
</head>
<body>
<div class="container">
  <div class="mobile row h-100-vp">
      <div class="twelve columns display-start h-100-vp">
        <header class="header w-100 display-center">
          <h2 class="page-header">TuneSmash</h2>
        </header>
        <main class="m-t-auto w-100">
          <a class="m-b-5" href="/generate/one/{{user_id}}" data-uid="{{user_id}}" data-email="{{user_email}}" data-name="{{user_name}}" id="submit">
            <button class="primary-button pink">Make A Playlist</button>
          </a>
          <a class="m-b-5" href="/users/{{user_id}}/playlists"  href="/">
            <button class="primary-button purple">Manage Playlist</button>
          </a>
          <a class="m-b-5" href="/users/{{user_id}}/profile">
            <button class="primary-button orange">Edit Avatar</button>
          </a>
        </main>
        <footer class="h-0">

        </footer>
      </div>
  </div>
</div>
<style>
  style { display:none;}
  script { display:none;}
  title {display:none;}
</style>
<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script>
$(document).ready(function(){
  console.log({{execution_time}});
  var postData = {
    'id': {{user_id}},
    'email': "{{user_email}}",
    'hid': "{{hid}}"
  };
  if ("{{refresh}}" == "True"){
    console.log("Getting new history");
    // POST TO BUMP ENDPOINT
    $.ajax({
      async: true,
      contentType:"application/json",
      url: '/ts/api/users/update/history',
      dataType: 'json',
      data: JSON.stringify(postData),
      error: function(error){
        console.log(error);
      },
      method: 'POST',
      success: function(response){
        console.log(response);
      }
    });
  }
});
</script>
</body>
</html>
