{% include 'base_head.html' %}
<div class="container">
  <div class="mobile-view w-100">
    <header class="w-100 mb-3">
      <h2 style="font-weight:bold;">TuneSmash</h2>
    </header>
    <main class="w-100">
      <a class="primary button mb-6 blue-light" href="/one">
        <button>Make A Playlist</button>
      </a>
      <a class="primary button mb-6 blue-medium" href="/playlists">
        <button>Manage Playlists</button>
      </a>
      <a class="primary button blue-dark mb-2" href="/account">
        <button>Change Account</button>
      </a>
      <a class="secondary button" href="/logout" style="font-weight:bold;font-size:1rem;">
        Logout
      </a>
    </main>
    <footer class="w-100 hide">
    </footer>
  </div>
</div>
{% include 'base_foot.html' %}
