<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
<div class="container">
  <div class="mobile row h-100-vp">
      <div class="twelve columns display-start h-100-vp">
        <header class="header w-100 display-center">
          <h2 class="page-header">TuneSmash</h2>
        </header>
        <main class="m-t-auto w-100">
          <a class="m-b-5" href="/loading/search" data-uid="{{user_id}}" data-email="{{user_email}}" data-name="{{user_name}}" id="submit">
            <button class="primary-button pink">Make A Playlist</button>
          </a>
          <a class="m-b-5" href="/playlist/management/{{user_id}}"  href="/">
            <button class="primary-button purple">Manage Playlist</button>
          </a>
          <a class="m-b-5" href="/profile/management/{{user_id}}">
            <button class="primary-button orange">Edit Avatar</button>
          </a>
        </main>
        <footer class="h-0"></footer>
      </div>
  </div>
</div>

</body>
</html>
