<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="mobile row h-100-vp">
      <div class="twelve columns display-start h-100-vp">
        <header class="header w-100 display-center">
          <h2 class="page-header">TuneSmash</h2>
        </header>
        <main class="m-t-auto">
          <div class="image-container">
            <img src="/images/male_intro.png"/>
            <img class="flipped" src="/images/male_intro.png"/>
          </div>
          <p>Grab a nearby friend and instantly make the perfect music playlist!</p>
          <a class="g-button display-center" href="/login"><button>Begin</button></a>
        </main>
        <footer class="h-0"></footer>
      </div>
    </div>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mini.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</body>
</html>
