{% include 'base_head.html' %}
<div class="container">
    <div class="mobile-view">
      <header class="w-100">
        <a class="navigation-button" href="/">
          <button class="navigation"><</button>
        </a>
        <h3 style="font-weight:bold;">Your playlists</h3>
      </header>
      <main class="w-100">
        <ul class="w-100" id="playlist">
        {% for result in user %}
          <li style="flex-direction: column;">
            <a style="margin-left: 0;    position: relative;" target="_blank" class="clickbait mb-8" href="{{result['url']}}">
              <div class="avatar-wrapper">
                <img width="20%" src="{{result['recipient']['avatar']}}"/>
              </div>
              <p style="font-size:1rem;">
              Playlist with {{result['recipient']['name']}}
              <br>
              <span style="color: rgba(0,0,0,0.40);">{{result['created_at']}}</span>
              <span style="    position: absolute;  top: 40%;right: 0;"> > </span>
              </p>
            </a>
            <a class="delete-button" style="font-size: 12px;font-weight: bold; color: pink;" href="/playlists/{{result['playlist_id']}}">Delete</a>
          </li>
        {% endfor %}
        </ul>
      </main>
      <footer class="w-100 hide">
        {{execution_time}}
      </footer>
    </div>
  </div>
  <style>
    style { display:none;}
    script { display:none;}
    title {display:none;}
    .hide {display:none;}
  #playlist li a {
    width:100%;
    margin-left:0;
    display: flex;
    align-items: center;
  }
    #playlist li a p {
    padding-left:1.25rem;
    font-weight: bold;
  }
  .avatar-wrapper {
    border-radius:8px;
  }
    #playlist li:after {
    height: 1px;
    display: block;
    width: 100%;
    background: #808080;
    content: '';
    position: absolute;
    bottom: -16px;
  }
  </style>
  <link href='https://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>
var colors = ["252,104,230","252,104,104","17,123,201","129,201,252","252,163,162"]
  $(document).ready(function(){
    // var postData = {
    //   'user_id': "{{user['id']}}"
    // };
    // $.ajax({
    //   async: true,
    //   cache: true,
    //   context: document.getElementById('playlist'),
    //   url: '/ts/api/user/playlists',
    //   dataType: 'json',
    //   data: JSON.stringify(postData),
    //   error: function(){
    //     alert("Something went wrong. Please close the app and restart.");
    //   },
    //   method: 'POST',
    //   statusCode: {
    //     404: function(){
    //       alert("Something is missing.");
    //     },
    //     500: function(){
    //       alert("Server went down.");
    //     }
    //   },
    //   success: function(response){
    //     console.log(response);
    //   }
    // }).done(function(response){
    //   var data = response['data'];
    //   var list = $('#playlist');
    //   for (var i = 0; i < data.length; i++){
    //     list.append(
    //       "<li>\
    //         <div class='avatar-wrapper'>\
    //         <img src='" + data[i]['other']['avatar'] +
    //         "'></div>\
    //         <div class='content-wrapper'>\
    //           <a class='fs-7' href='/users/{{user_id}}/playlists/"+data[i]['pid']+"/"+ data[i]['url']+"/"+data[i]['other']['name']+"'>"
    //           + data[i]['other']['name']+"</a><p class='text steel-grey fs-9'>Created on "+data[i]['time']+"</p>\
    //           </div>\
    //         </li>"
    //     );
    //   }
    // });
    // return false;
    var cw = $('.avatar-wrapper').width();
    $('.avatar-wrapper').css({'height':cw+'px'});
    $('.avatar-wrapper').css('background-color','rgb(' + choose(colors) + ')');
  });
  function choose(choices) {
  var index = Math.floor(Math.random() * choices.length);
  return choices[index];
}
  </script>
{% include 'base_foot.html' %}
