<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  script {
    display: none;
  }
  style {
    display: none;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="mobile-view">
      <header class="w-100">
        <a class="navigation-button" href="/users/{{user_id}}/playlists">
          <button class="navigation"><</button>
        </a>
        <h5>Made with {{name}}</h5>
      </header>
      <main class="w-100">
        <ul class="w-100" id="songs">
        </ul>
      </main>
      <footer class="w-100 hide">
        {{execution_time}}
      </footer>
    </div>
  </div>
  <style>
    style { display:none;}
    script { display:none;}
    title {display:none;}
    .hide {display:none;}
  </style>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>
  $(document).ready(function(){
    $.ajax({
      async: true,
      cache: true,
      context: document.getElementById('playlist'),
      url: '/ts/api/playlist/{{url}}',
      dataType: 'json',
      error: function(){
        alert("Something went wrong. Please close the app and restart.");
      },
      method: 'GET',
      statusCode: {
        404: function(){
          alert("Something is missing.");
        },
        500: function(){
          alert("Server went down.");
        }
      },
      success: function(response){
        console.log(response);
      }
    }).done(function(response){
      var data = response['data'];
      var list = $('#songs');
      console.log(data);
      for (var i = 0; i < data.length; i++){
        var url = "{{url}}";
        var index = i+1;
        list.append(
          "<li>" +
            "<div class='avatar-wrapper'>" +
              "<img src='http://img.youtube.com/vi/" +
              data[i]['yt_url'] +
              "/default.jpg'>" +
            "</div>" +
            "<div class='content-wrapper'>" +
              "<a class='fs-7' href='https://youtube.com/watch?v="+data[i]['yt_url'] +
              "&amp;index=" + index.toString() + "&amp;list={{url}}'>" +
              data[i]['track'] +
              "</a>" +
              "<p class='fs-9 text steel-grey'>" +
              data[i]['artist'] +
              "</p>" +
            "</div>" +
          "</li>"
        );
      }
    });
    return false;
  });
  </script>
</body>
</html>
