<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="images/favicon.png">
  <style>
    style { display:none;}
    script { display:none;}
    title {display:none;}
    .hide {display:none;}
  </style>
</head>
<body>
  <div class="container">
    <div class="mobile-view">
      <main class="w-100 ">
      <header class="w-100">
        <a class="navigation-button" href="/users/{{user_id}}/profile">
          <button class="navigation"><</button>
        </a>
        <h5 style="color: rgba(0,0,0,0);">Pick Your Avatar</h5>
      </header>
        <div class="image-container mb-3" style="min-height: 220px;">
          <img data-gender="female" class="hide" src="/images/female_intro.png"/>
          <img data-gender="male" class="show" src="/images/male_intro.png"/>
        </div>
        <button class="toggle salmon-pink mb-6" data-gender="female" data-href="/users/{{user_id}}/profile/avatar/female">Female</button>
        <button class="toggle periwinkle-purple selected mb-2" data-gender="male" data-href="/users/{{user_id}}/profile/avatar/male">Male</button>
        <a class="secondary button" href="/users/{{user_id}}/profile/avatar/male" id="submit">
          <button>Continue ></button>
        </a>
      </main>
      <footer class="w-100 hide">
        {{execution_time}}
      </footer>
    </div>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>
  $(document).ready(function(){
    $('button.toggle').on('click',function(){
      $('button.toggle').removeClass('selected');
      $(this).addClass('selected');
      var url = $('.selected').data('href');
      var gender = $('.selected').data('gender');
      var genderShow = 'img[data-gender="'+gender+'"';
      $('#submit').attr('href',url);
      $('img').each(function(i,data){
        if ($(data).data('gender')==gender){
          $(data).removeClass('hide');
          $(data).addClass('show');
        } else {
          $(data).addClass('hide');
          $(data).removeClass('show');
        }
      });
    });
  });
  </script>
</body>
</html>
