<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="images/favicon.png">

  <style>
    style { display:none;}
    script { display:none;}
    title {display:none;}
    .hide {display:none;}
  </style>
</head>
<body>
  <div class="container">
    <div class="mobile-view">
      <header class="w-100">
        <a class="navigation-button" href="/users/{{user_id}}/profile">
          <button class="navigation"><</button>
        </a>
        <h5>What's Your Name?</h5>
      </header>
      <main class="w-100" id="profile">
        <input type='text' value="" class="w-100"></input>
        <a class="secondary button" href="" id="submit">
          <button>Continue ></button>
        </a>
      </main>
      <footer class="w-100 hide">
        {{execution_time}}
      </footer>
    </div>

  </div>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>
  $(document).ready(function(){
    $('#submit').on('click',function(){
      var name = $('input').val();
      var postData = {
        'update': 'name',
        'data': name
      };

      $.ajax({
        async: true,
        contentType:"application/json",
        url: '/ts/api/users/{{user_id}}/update',
        dataType: 'json',
        data: JSON.stringify(postData),
        error: function(error){
          console.log(error);
          alert("Something went wrong. Please close the app and restart.");
        },
        method: 'POST',
        statusCode: {
          404: function(){
            alert("Something is missing.");
          },
          500: function(){
            alert("Server went down.");
          }
        },
        success: function(response){
          location.href = '/';
        }
      });
    });
  });
  </script>
</body>
</html>
