<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="images/favicon.png">
  <style>
    style { display:none;}
    script { display:none;}
    title {display:none;}
    .hide {display:none;}
  </style>
</head>
<body>
  <div class="container">
    <div class="mobile-view">
      <header class="w-100">
        <a class="navigation-button" href="/">
          <button class="navigation"><</button>
        </a>
        <h5>Settings</h5>
      </header>
      <main class="w-100" id="profile">
        <div class="avatar-wrapper mb-7">
          <img src="{{user_avatar}}" />
        </div>

        <a class="secondary button mb-2" href="/users/{{user_id}}/profile/account">
          <button>{{user_name}} ></button>
        </a>
        <a class="primary button salmon-pink w-100" href="/users/{{user_id}}/profile/avatar">
          <button>New Avatar</button>
        </a>
      </main>
      <footer class="w-100 hide">
        {{execution_time}}
      </footer>
    </div>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
</body>
</html>
