{% include 'base_head.html' %}
<div class="container">
    <div class="mobile-view">
      <header class="w-100">
        <a class="navigation-button" href="/">
          <button class="navigation"><</button>
        </a>
        <h3 style="font-weight:bold;">Settings</h3>
      </header>
      <main class="w-100" id="profile">
        <div class="avatar-wrapper mb-9">
          <img src="{{user['avatar']}}" />
        </div>

        <a class="secondary button mb-4" href="/account/name">
          <button style="font-size:1.25rem;">{{user['name']}} ></button>
        </a>
        <a class="primary button blue-medium w-100 mb-8" href="/account/avatar">
          <button>New Avatar</button>
        </a>
        <!-- <a id="account-spotify" class="primary button periwinkle-purple w-100 mb-8" href="/auth/sp/login">
          <button class="toggle">Add Spotify</button>
        </a> -->
        <!-- <a id="account-youtube" class="primary button pink-light w-100 mb-8" href="/auth/yt/login">
          <button class="toggle">Add YouTube</button>
        </a> -->
        <a class="primary button red-demon w-100" href="/delete">
          <button >Delete</button>
        </a>
      </main>
      <footer class="w-100 hide">
        <!-- {{execution_time}} -->
      </footer>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
$(document).ready(function(){
  var user = {{user|safe }};
  if (user.hasOwnProperty('youtube')){
    $('#account-youtube button').addClass('selected');
  }
  if (user.hasOwnProperty('spotify')){
    $('#account-spotify button').addClass('selected');
  }
  console.log(user);
});
</script>
{% include 'base_foot.html' %}
