<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <div class="container">
    <div class="mobile row h-100-vp">
      <div class="twelve columns display-start h-100-vp">
        <header class="header w-100 display-center">
          <h3 class="page-header">Nearby Friends</h3>
        </header>
        <main class="m-t-auto">
          <ul></ul>
        </main>
        <footer class="h-0"></footer>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
var GLOBAL_LAT = 0;
var GLOBAL_LON = 0;
var GLOBAL_EMAIL = "{{user_email}}";
var GLOBAL_UID = {{user_id}};
var GLOBAL_NAME = "{{user_name}}";
var GLOBAL_TIME = 0;
var config = {
  apiKey: "AIzaSyBKX1xmfY8JuhIbgOxhO2APg6f4VcCZWXI",
  authDomain: "luminous-inferno-9831.firebaseapp.com",
  databaseURL: "https://luminous-inferno-9831.firebaseio.com",
  storageBucket: "luminous-inferno-9831.appspot.com",
};
firebase.initializeApp(config);
var d = new Date()
var chat = firebase.database().ref('/chat');
var vistor = {'uid':"{{user_id}}",'email':"{{user_email}}",'name':"{{user_name}}",'time':d.getTime(),'location':000}
var vistorRef = chat.push(vistor);
vistorRef.onDisconnect().remove();

function writeNewPost(data) {
  var updates = {};
  var bumpPostKey = firebase.database().ref().child('bumps').push().key;
  updates['/bumps/' + bumpPostKey] = data;
  return firebase.database().ref().update(updates);
}

$(document).on('ready',function(){
  count = 0;
  chat.on('child_added',function (snapshot){
    $('ul').append('<li id="'+ snapshot.key+'">'+'<a class="clickbait" data-email="'+ snapshot.val()['email']+'" data-id="'+snapshot.val()['uid'] +'"'+'>'+snapshot.val()['name']+'</a></li>');
    // $('.clickbait').on('click',yo);
    count = count + 1;
    console.log(count);
  });
  chat.on('child_removed', function (snapshot) {
    setTimeout(function(){
      $('#' + snapshot.key).remove();
    },300000);
  });
  $('ul').on('click', 'li a.clickbait', function(event) {
    event.preventDefault();
    var d = new Date();
    var diss = $(this);
    GLOBAL_TIME = d.getTime();
    GLOBAL_TO_EMAIL = diss.attr('data-email');
    GLOBAL_TO_ID = parseInt(diss.attr('data-id'));

    var postData = {
      "from": {'id': GLOBAL_UID,'email':GLOBAL_EMAIL},
      "to": {'id':GLOBAL_TO_ID,'email':GLOBAL_TO_EMAIL},
      "lat": GLOBAL_LAT,
      "lon": GLOBAL_LON,
      "time": GLOBAL_TIME
    };
    firePost = writeNewPost(postData).then(function(){
      location.href = '/loading/match/to/'+GLOBAL_TO_ID;
    });
  });
});
</script>
</body>
</html>
