<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TuneSmash</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
  // Mobile Safari in standalone mode
  if(("standalone" in window.navigator) && window.navigator.standalone){

      // If you want to prevent remote links in standalone web apps opening Mobile Safari, change 'remotes' to true
      var noddy, remotes = false;
      document.addEventListener('click', function(event) {
          noddy = event.target;
          // Bubble up until we hit link or top HTML element. Warning: BODY element is not compulsory so better to stop on HTML
          while(noddy.nodeName !== "A" && noddy.nodeName !== "HTML") {
              noddy = noddy.parentNode;
          }
          if('href' in noddy && noddy.href.indexOf('http') !== -1 && (noddy.href.indexOf(document.location.host) !== -1 || remotes))
          {
              event.preventDefault();
              document.location.href = noddy.href;
          }

      },false);
  }
  </script>
</head>
<body>
  <div class="container">
    <div class="mobile-view">
      <header class="w-100" style="visibility:hidden;">
        <a class="navigation-button" href="/">
          <button class="navigation"><</button>
        </a>
        <h5>Match</h5>
      </header>
      <main class="w-100" style="text-align:center;">
        <div class="w-100 flex-center" data-step="1">
          <h6>Welcome {{user_id}}</h6>
          <h6>You {{status}}</h6>
        </div>
        <div class="w-100 flex-center hide" data-step="2">
          <h4>matched with {{other_name}}</h4>
        </div>
        <div class="w-100 flex-center hide" data-step="3">
          <h4>melding your listening preferences</h4>
        </div>
        <div class="w-100 flex-center hide" data-step="4">
          <h4>generating tunes</h4>
        </div>
        <div class="w-100 flex-center hide" data-step="5">
          <a href="" id="listen-to-playlist">Ready To Listen?</a>
          <a href="/">Go Back</a>
        </div>
      </main>
      <footer class="w-100 hide">
        {{execution_time}}
      </footer>
    </div>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <style>
    style { display:none;}
    script { display:none;}
    title {display:none;}
    .hide {display:none;}
  </style>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
  <script>
  $(document).ready(function(){
    // Raygun.init('aR9aPioLxr1y42IN3HqSnw==')
    var status = "{{status}}";
    var postData = {
      'fr': {{user_id}},
      'location':'South of France',
      'uone': {
        'id':{{user_id}},
        'email':"{{user_email}}",
        'name': "{{user_name}}"
      },
      'utwo': {
        'id':{{other_id}},
        'email':"{{other_email}}",
        'name': "{{other_name}}"
      }
    }

    var config = {
      apiKey: "AIzaSyBKX1xmfY8JuhIbgOxhO2APg6f4VcCZWXI",
      authDomain: "luminous-inferno-9831.firebaseapp.com",
      databaseURL: "https://luminous-inferno-9831.firebaseio.com",
      storageBucket: "luminous-inferno-9831.appspot.com",
    };

    firebase.initializeApp(config);
    var notification = firebase.database().ref('notification');
    notification.orderByChild("recipient").equalTo({{user_id}}).on('child_added',function(snapshot){
      var data = snapshot.val();
      console.log(data);
      $('main').children().filter(function(){
        if($(this).data('step') != data['custom']['step']) {
          $(this).addClass('hide');
        } else {
          $(this).removeClass('hide');
          if ($(this).data('step')==5) {
            var url = 'https://www.youtube.com/watch?v=';
            var video = data['custom']['starting_video'];
            var playlist = data['custom']['playlist_id'];
            url = url + video + '&list=' + playlist;
            console.log(url);
            $('#listen-to-playlist').attr('href',url);
            // window.open('https://www.youtube.com/playlist?list=' + data['custom']['playlist_id']);
          }
        }
      });
      notification.child(snapshot.key).remove();
    });
    if (status == "win") {
      $.ajax({
        async: true,
        contentType:"application/json",
        url: '/ts/api/generate/recommendation',
        dataType: 'json',
        data: JSON.stringify(postData),
        error: function(error){
          alert("{{user_email}} Recommendation: Something went wrong. Please close the app and restart.");
          console.log(error);
        },
        method: 'POST',
        success: function(response){
          console.log(response);
          var postData = {
            'tunes': response['data']['tunes'],
            'playlist_id': response['data']['playlist_id']
          };
          $.ajax({
            async: true,
            contentType:"application/json",
            url: '/ts/api/generate/recommendation/song_run',
            dataType: 'json',
            data: JSON.stringify(postData),
            error: function(error){
              console.log(error);
            },
            method: 'POST',
            success: function(response){
              console.log(response);

            }
          });
          return false;
        }
      });
      return false;
    }
  });
  </script>
</body>
</html>
